*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0a3c2f;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 90px;
    background: #0d614b;
    padding: 50px 70px;
}

h1{
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset{
    padding: 15px 20px;
    color: #267c65;
    background: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus{
    color: #fff;
    background: #0a3c2f;
}

.game{
    width: 500px; /* Adjust width to fitfive emojis in a row */
    height: 500px; /*Adjust height as needed */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    transform-style: preserve-3d; 
    perspective: 500px;
}

.item{
    position: relative;
    width: 115%;
    height: 115%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    background: #fff;
    transition: 0.25s;
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: #209d7b;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen:after , 
.boxMatch:after{
    transform: rotateY(180deg);
}
